{% extends 'base.html.twig' %}

{% block page_title %}
    <h1 class="text-center">Review List</h1>
{% endblock %}

{% block body %}

<div class="example-wrapper">
    <h1>Review List</h1>

    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Company Name</th>
                <th scope="col">Rating</th>
                <th scope="col">Review</th>
                <th scope="col">Created At</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for review in reviews %}
                <tr>
                    <td>{{ review.companyName }}</td>
                    <td>{{ component('Rating', {rating: review.rating}) }}</td>
                    <td><span class="review-table-span">{{ review.reviewText }}</span></td>
                    <td>{{ review.createdAt|date('Y-m-d') }}</td>
                    <td>
                        <a href="/review/{{ review.id }}/show" class="btn btn-primary">
                            Show
                        </a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}