{% extends 'base.html.twig' %}

{% block page_title %}
    <h1 class="text-center">{{ "common.review"|trans }} (#{{ review.id }})</h1>
{% endblock %}

{% block body %}

    <div class="container">

        {# Back button #}
        <div class="d-grid mt-4">
            <a onclick="history.back()" class="btn btn-primary btn-lg fw-bold shadow-sm">
                <i class="bi bi-arrow-left-circle-fill me-2"></i>{{ "common.back"|trans }}
            </a>
        </div>

        {# Review basic data #}
        <table class="table table-striped">
            <tr>
                <th scope="col">#</th>
                <td>{{ review.id }}</td>
            </tr>
            <tr>
                <th scope="col">{{ "common.company"|trans }}</th>
                <td>{{ review.companyName }}</td>
            </tr>
            <tr>
                <th>{{ "common.rating"|trans }}</th>
                <td>{{ component('Rating', {rating: review.rating}) }}</td>
            </tr>
            <tr>
                <th>{{ "common.reviewer_email"|trans }}</th>
                <td><a href="mailto:{{ review.authorEmail }}">{{ review.authorEmail }}</a></td>
            </tr>
            <tr>
                <th>{{ "common.created_at"|trans }}</th>
                <td>{{ review.createdAt|date('Y-m-d') }}</td>
            </tr>
        </table>

        {# Review Text #}
        <div>
            <h2>{{ "common.review"|trans }}</h2>
            <p>{{ review.reviewText }}</p>
        </div>
    </div>

{% endblock %}