{% extends 'base.html.twig' %}

{% block page_title %}
    <h1 class="text-center">Review (#{{ review.id }})</h1>
{% endblock %}

{% block body %}

    <div class="container">

        {# Back button #}
        <div class="d-grid mt-4">
            <a href="/review/list" class="btn btn-primary btn-lg fw-bold shadow-sm">
                <i class="bi bi-arrow-left-circle-fill me-2"></i>Back
            </a>
        </div>

        {# Review basic data #}
        <table class="table table-striped">
            <tr>
                <th scope="col">#</th>
                <td>{{ review.id }}</td>
            </tr>
            <tr>
                <th scope="col">Company Name</th>
                <td>{{ review.companyName }}</td>
            </tr>
            <tr>
                <th>Rating</th>
                <td>{{ review.rating|star_rating }}</td>
            </tr>
            <tr>
                <th>Reviewer email</th>
                <td>{{ review.authorEmail }}</td>
            </tr>
            <tr>
                <th>Created At</th>
                <td>{{ review.createdAt|date('Y-m-d') }}</td>
            </tr>
        </table>

        {# Review Text #}
        <div>
            <h2>Review Text</h2>
            <p>{{ review.reviewText }}</p>
        </div>
    </div>

{% endblock %}